// ELEMENT COLORS
$colors: (
  main: rgb(15, 202, 67),
  btn-delete: rgb(231, 10, 10),
  btn-keep: rgb(207, 207, 207),
  main-bg: rgb(255, 255, 255),
  task-bg: rgb(238, 238, 238),
  task-delete-bg: rgb(215, 215, 215),
  popup-bg: rgba(0, 0, 0, 0.6),
);

// PLACEHOLDER
$placeholder-font: 'Poppins';
$placeholder-style: italic;
$placeholder-color: rgb(153, 153, 153);

// TASK
$task-font: 'Poppins';
$task-color: rgb(28, 28, 28);
$date-color: rgb(128, 128, 128);
$date-style: italic;

// BUTTONS
$btn-font: 'Poppins';
$btn-delete-color: rgb(255, 255, 255);
$btn-keep-color: rgb(33, 33, 33);
$btn-submit-color: rgb(255, 255, 255);
